$color-blue: #1768AC;
$color-blue-dark: #2541b2;
$color-dark: #212B36;
$color-red: #ed6347;
$color-red-dark: #bf0711;

$color-white: #f7f7f7;
$color-grey: #637381;
$color-background: #e0e2ef;
$color-link: #007ace;
$color-subdued: #919eab;
$color-title-subdued: #637381;
// Abstraction
$color-brand: $color-blue-dark;
$color-primary: $color-blue;
$color-content: $color-dark;